html{
	height: 1000px;
}
body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

  margin: auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}



#Banner{
	font-family: Open Sans;
	font-size: 80px;
	background-color: FFF6FA;
	width: 100%;
	height: 110px;
	text-align: center;
	color: FE5496;
	overflow: hidden;
	transition-property: background-color, color, height; 
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 200ms;
}

#Banner:active{
	height: 150px;
	background-color:FE5496;
	color: FFF6FA;
}

#developedby{
	font-family: Arial;
	font-size: 20px;
	padding-bottom: 5px;
	color: FFF6FA;
}

#statbar{
	padding-top: 5px;
	height: 205px;
	width: 100%;
	position: relative;
	overflow: hidden;
	transition-property: height; 
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 200ms;
}

#statbar:hover{
	height: 450px
}

#hungerbar{
	padding-top: 10px; 
	float:left;
	width: 33.33%;
	height: 100%;
	background-color: FF81B2;
}


#cookbutton{
	float: left;
	width: 100%;
	height: 100px;
}

#eatbutton{
	float: left;
	width: 100%;
	height: 100px;
}

#hungername{
	color: FFF6FA;
	padding-top: 20px;	
	text-align: center;
	font-family: Arial; 	
	font-weight: Bold;
	font-size: 50px;
}

#hunger{
	background-color: FE5496;
	color: FFF6FA;
	border: none;
	text-align: center;
	font-size: 90px;
	font-family: Century Gothic;
	height: 100px;
}

#cookrec{
	width: 25%;
	height: 100px;
	float: left;
}

#cookrec:disabled{
	background-color: FFF6FA;
	border-color: FE5496;
}

#cookres{
	color: FE5496;
	float: left;
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	border: solid;
}

/* Dropdown Button */
.dropbtn {
  background-color: FFF6FA;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 25%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content input {
  color: FF81B2;
  background-color: FE5496;
  text-decoration: none;
  display: block;
  height: 100px;
  width: 100px;
  float: left;
  overflow: absolute;
}

.dropdown-content button {
  color: FF81B2;
  background-color: FE5496;
  text-decoration: none;
  display: block;
  height: 100px;
  width: 100px;
  float: left;
  overflow: absolute;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #FFF6FA;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FE5496;}

#cookbutton{
	width: 25%;
	font-size: 20px;
	font-family: Arial;
	background-color: FF81B2;
	color: FFF6FA;
}

#cookbutton:hover{
	background-color: FFF6FA;
	color: FE5496;
}

@keyframes cookdown{
	from {background-color: FE5496;}
	to {background-color: FFF6FA;}
}

#cookbutton:disabled{
	background-color: FE5496;
	animation-name: cookdown;
	animation-duration: 5s;
}

#cookres{
	width: 100%;
	height: 50px;
	border-color: FE5496;
	background-color: FFF6FA;
}


#eatbutton{
	width: 100%;
	font-size: 20px;
	font-family: Arial;
	background-color: FF81B2;
	color: FFF6FA;
}

#eatbutton:hover{
	background-color: FFF6FA;
	color: FE5496;
}

@keyframes cookdown{
	from {background-color: FE5496;}
	to {background-color: FFF6FA;}
}

#eatbutton:disabled{
	background-color: FE5496;
	animation-name: cookdown;
	animation-duration: 5s;
}

#energybar{
	padding-top: 10px;
	float: left;
	width: 33.33%;
	height: 250px;
	background-color: FF81B2;	
}

#sleepbutton{
	width: 100%;
	font-size: 80px;
	font-family: Arial;
	background-color: FF81B2;
	color: FFF6FA;
	height: 100%;
}

#sleepbutton:hover{
	background-color: FFF6FA;
	color: FE5496;
}

#energyname{
	color: FFF6FA;
	padding-top: 20px;	
	text-align: center;
	font-family: Arial; 	
	font-weight: Bold;
	font-size: 50px;
}

#energy{
	background-color: FE5496;
	color: FFF6FA;
	border: none;
	text-align: center;
	font-size: 90px;
	font-family: Century Gothic;
	height: 100px;
}



#moneybar{
	padding-top: 10px;
	float: left;
	width: 33.33%;
	height: 100%;
	background-color: FF81B2;	
}


#moneyname{
	color: FFF6FA;
	padding-top: 20px;	
	text-align: center;
	font-family: Arial; 	
	font-weight: Bold;
	font-size: 50px;
}

#money{
	background-color: FE5496;
	color: FFF6FA;
	border: none;
	text-align: center;
	font-size: 90px;
	font-family: Century Gothic;
	height: 100px;
}

#workbutton{
	width: 100%;
	height: 250px;
	text-align: center;
	color: FE5496;
	font-size: 100px;
	transition-property: background-color; 
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 90ms;
}

#workbutton:hover{
	background-color: FFF6FA;
}

@keyframes workdown{
	from {background-color: FE5496;}
	to {background-color: FFF6FA;}
}

#workbutton:disabled{
	background-color: FF81B2;
	animation-name: workdown;
	animation-duration: 5s;
	transition-property: background-color; 
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 90ms;
}

#happinessbar{
	padding-top: 10px;
	float: left;
	width: 100%;
	height: 100%;
	background-color: FF81B2;	
	transition-property: height; 
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 90ms;
}



#playbutton{
	float: left;
	width: 100%;
	height: 100px;
}

#happinessname{
	color: FFF6FA;
	padding-top: 20px;	
	text-align: center;
	font-family: Arial; 	
	font-weight: Bold;
	font-size: 50px;
}

#happiness{
	background-color: FE5496;
	color: FFF6FA;
	border: none;
	text-align: center;
	font-size: 90px;
	font-family: Century Gothic;
	height: 100px;
}

#player{
	height: 150px;
	overflow: hidden;
	transition-property: height; 
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: 100ms, 90ms;
}




#gameheader{
	font-size: 150px;
	text-align: center;
	font-family: Arial;
	color: FFF6FA
}

#player:hover{
	height: 1300px;
}

#gamebar{
	width: 100%;
	float: left;
}

#lootbox{
	width: 100%;
	float: left;
}

#gameresult{
	width: 100%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 80px;
	font-family: Arial;
	text-align: center;
	color: FE5496;
}
#rock{
	height: 100px;
	width: 16.66%;
	float: left;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 50px;
}

#paper{
	height: 100px;
	width: 16.66%;
	float: left;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 50px;
}

#scissors{
	height: 100px;
	width: 16.66%;
	float: left;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 50px;
}

#botplay{
	height: 100px;
	width: 50%;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FFF6FA;
}

#openbutton{
	height: 200px;
	float: left;
	width: 100%;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 100px;
}

#boxbutton{
	height: 200px;
	float:left;
	width: 50%;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 50px;
}

#keybutton{
	height: 200px;
	float:left;
	width: 50%;
	background-color: FFF6FA;
	color: FE5496;
	font-family: Arial;
	font-size: 50px;
}

#creditcount{
	text-align: center;
	height: 100px;
	float: left;
	width: 100%;
	background-color: FE5496;
	color: FFF6FA;
	font-family: Arial;
	font-size: 80px;
}

#boxno{
	width: 50%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#keyno{
	width: 50%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#lootboxopening{
	width: 100%;
	height: 100%;
	float: left;
}

#bjcount{
	width: 100%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#bbcount{
	width: 100%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#hcount{
	width: 100%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 70px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#buycred1{
	width: 33.33%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#buycred2{
	width: 33.33%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}

#buycred3{
	width: 33.33%;
	height: 100px;
	background-color: FFF6FA;
	float: left;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	color: FF81B2;
}